<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="user-scalable=yes,width=device-width">
		<link rel="shortcut icon" type="image/x-icon" href="../static/img/staricon.ico" />
		<link rel="icon" type="image/x-icon" href="../static/img/staricon.ico" />
		<title>{{page.title}}</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet"/>
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet"/>
		<link href="../static/css/jquery-ui-1.8.20.custom.css" rel="stylesheet"/>
		<style type="text/css">
		.hashTagButton
		{
			border:none; 
			background:transparent; 
			cursor: pointer;
			margin:0;

		}
		a , .hashTagButton
		{
			color:#ff8833;			
		}
		a:hover , .hashTagButton:hover
		{
			color:#ff8833;			
		}
		.modalgradient
		{
			background-image: linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);
			background-image: -o-linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);
			background-image: -moz-linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);
			background-image: -webkit-linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);
			background-image: -ms-linear-gradient(bottom, rgb(255,244,120) 0%, rgb(250,255,99) 55%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(255,244,120)),
				color-stop(0.55, rgb(250,255,99))
			);
		}
		</style>
			{% block cssStyle %}{% endblock %}

			<!-- Google Analytics -->
			<script type="text/javascript">
				  var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-2733853-9']);
				  _gaq.push(['_trackPageview']);

				  (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
			</script>
	</head>
	<body>
	
		<div class="navbar" >
			<div class="navbar-inner" >
				<div class="container" >
					<!--  -->
					{% if not page.hideStarButton %}

					<a class="brand">Hello</a> <a class="underline brand" style = "padding-left:0.625em" href="/users/{{ user.ID }}">{{user.firstName}}!</a>
					<ul class="nav pull-right">
						
						<li><a href="#myModalview"><button  onclick="showModal(); getJSON(0);" class="btn btn-inverse" ><img width="23px" height="20px" src=../static/img/goldstar.png /></button></a></li>
					</ul>
					{%endif%}
				</div>
			</div>
		</div>
		

	<div class="modal hide fade in" data-backdrop="static" id="myModal" style="display:none">
			<div class="modal-header modalgradient" style="text-align:center;">
				<h3>Give a Star</h3>
			</div>
			<div class="modal-body modalgradient">
				<table style="width:98%">
					<tr>
						<td><h4>Who</h4><input id="modalViewUser" type="text" class="input-medium" placeholder="Person" /></td>
						<td>
							<h4>Did</h4>
							<select style="width:100px;" id ="modalViewVerb">
								<option name="-1" selected>Select One</option>
								<option name="Influenced">Influenced</option>
								<option name="Impressed">Impressed</option>
								<option name="Persuaded">Persuaded</option>
								<option name="Helped">Helped</option>
								<option name="Inspired">Inspired</option>
								<option name="Guided">Guided</option>
							</select>
						</td>
					</tr>
				</table>
				<div style="clear:both"></div>
				<h4>Description</h4>
				<textarea id="modalViewTextarea" onKeyDown="limitText(this.id, 100);" onKeyUp="limitText(this.id, 100);" style="resize:none; width:98%" rows="3" placeholder="Short description (100 character limit) *Optional"></textarea>
				<h4>Hashtag</h4>
				<input id="modalViewEvent" style="width:98%" type="text" class="input-medium" placeholder="Event" />

				<div style="clear:both"></div>
				<div class="modalgradient" id="giveStarConfirmation" style="text-align:center; display:none">
					<h4 style="color:black">Are you sure?</h4><br />
					<button class="btn btn-success" style="width:38%;" onclick="postJSON({{ user.ID }}, 1);">Yes</button>  
					<button class="btn btn-danger" style="width:38%;" onclick="$('#giveStarConfirmation').hide('slow');$('#modalFooterDiv').show('slow');">No</button>
				</div>
				<div id="giveStarErrorDiv" style="color:red; display:none; text-align:center">
				</div>

				<label class ="checkbox inline"><input type="checkbox" id="modalViewTweet" value="True" checked="checked" /><b>Tweet</b></label>

			</div>
			<div id="modalFooterDiv"class="modal-footer modalgradient" style="text-align:center" >
				<a href="#" class="btn btn-success" style="width:33%;" onclick="if(noGiveStarErrors()){$('#modalFooterDiv').hide('slow');$('#giveStarConfirmation').show('slow');}">Give</a>
				<a href="#" class="btn btn-danger" data-dismiss="modal" style="width:33%; " onclick="resetModalView()">Cancel</a>
			</div>
		</div>
		
		<div id="MainContent">
			{% for message in get_flashed_messages() %}
  				  <div class=flash>{{ message }}</div>
 			{% endfor %}
  			{% block body %}{% endblock %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
		<script src="../static/js/bootstrap-modal.js"></script>
		<script src="../static/js/knockout-2.1.0.js"></script>		
		<script src="../static/js/bootstrap.js"></script>
		<script src="../static/js/customscripts.js"></script>
		<script src="../static/js/mobileviewjs.js"></script>
		<script>
			function noGiveStarErrors(){
				$('#giveStarErrorDiv').hide();
				var noErrors = true;
				if (document.getElementById("modalViewUser").name == ""){
					showErrorMessage('givestar', 'Cannot identify Name.  Please make sure you are using a name from the drop down menu.');
					noErrors = false;
				}
				e = document.getElementById("modalViewVerb");
				var e2 = e.options[e.selectedIndex].value;
				if (e2 == "Select One"){
					showErrorMessage('givestar', 'Please select a verb');
					noErrors = false;
				}
				if (document.getElementById("modalViewEvent").value == ""){
					showErrorMessage('givestar', 'Please use a hashtag');
					noErrors = false;
				}
				if(noErrors)
					return true;
				else
					return false;
			
			}
			$(function(){
				try
				{
					var hashurl = "/Hashtags"
					$.getJSON(hashurl, function(data){
						$( "#modalViewEvent" ).autocomplete({
							datatype:'json',
							source: data.hashtags
						});				
					});
				}
				catch(ex)
				{
					alert(ex.message);
				}
			})
		</script>
			{% block scripts %}
			{% endblock %}
	</body>
</html>