{%extends "layout.html"%}
{% block cssStyle%}
{%endblock%}
{% block body%}
<div class="well">
	<h3 style="text-align:center">
		Please enter a new password
	</h3>
	</br>
	<div style="text-align:center">
		<input id = "PWord" type="password" class="" placeholder="Password" name="PWord" maxlength="100" required>
	</div>
	</br>
	<div style="text-align:center">
		<input id = "PWordAgain" type="password" class="" placeholder="Re-enter Password" name="PWord" maxlength="100" required>
	</div>
	</br>
	<div style="text-align:center">
		<button onclick="changePassword()">Reset Password</button>
	</div>
</div>
{% endblock%}
{% block scripts%}
<script type="text/javascript" src="static/js/changepassword.js"></script>
{%endblock%}