{%extends "layout.html"%}
{% block cssStyle%}
{%endblock%}
{% block body%}
	
	<div class="well"> 
		

			<div style="text-align:center"><img style="margin-bottom:1em;" src="../static/img/goldstar.png" height="100" width="100" /></div>

			<h4 style="text-align:center">
				<a href="/users/{{star.issuer_id}}">{{star.issuer}}</a> gave a star to <a href="/users/{{star.owner_id}}">{{star.owner}}</a> 
			</h4>
			</br>
			<h4 style="text-align:center">
				Reason:&nbsp;{{star.reason}}
			</h4>
			<h4 style="text-align:center" >
				<br/><button class="hashTagButton" onclick="GoToHashTagPageWithRedirect('{{star.hashtag}}');"><b><i>#{{star.hashtag}}</i></b></button>
				
			</h4>
			<h5 style="text-align:center" >
				</br>
				<div id ='timestamptext'style="display:none">

					{{star.timestamp}}
				</div>
			</h5>
			<br/>
			<div style="clear:both"></div>

				<table style="text-align:center; width:100% display:inline" class="table table-striped" id ="starFooter">
				<tr>
						<td style="text-align:center;" ><button ONCLICK="history.go(-1)" class="btn btn-warning">Go back</button></td>
						<td style="text-align:center;"><a href="../mobileview.html" class="btn btn-warning">Home</a></td>
						<td style="text-align:center;"><a href="../feedback" class="btn btn-warning">Feedback</a></td>
				</tr>

				<tr>
						<td id="newaccountStar" style="width:100%; text-align:center; display:none;" colspan="2" >
							<a href="/signup" class="btn btn-warning">Don't have an account?</a>
						</td>
				</tr>
			</table>


	</div>

{% endblock%}
{% block scripts%}
<script src="../static/js/mobileviewjs.js"></script>
<script type = "text/javascript">
	$(function(){

		var  wholeDate = new String($("#timestamptext").text().trim());
		var DateFormatted = new Date(parseDate(wholeDate));
		$("#timestamptext").css('display','Block');
		$("#timestamptext").text(calculateTimeFromServer(DateFormatted));
		if (sessionStorage.userID== null || sessionStorage.length == 0){
			$('#starFooter').css("display","none")
		}
		else
		{
			$('#starFooter').css("display","table")
		}
	});

	
</script>
<script>
	var suggestedHashurl = "/hashtagSuggestions";
	var suggestedHashList = [];
	$.getJSON(suggestedHashurl, function(data)
	{
		if(data.hashtags[0].hashtag != null){

			$("#inStarHashLink1").html("#"+data.hashtags[0].hashtag)
			$("#inStarHashLink1").css("display","inline")
		}
		if (data.hashtags.length > 2){
			if(data.hashtags[1].hashtag != null && data.hashtags[0].hashtag != data.hashtags[1].hashtag){
				$("#inStarHashLink2").html("#"+data.hashtags[1].hashtag)
				$("#inStarHashLink2").css("display","inline")
			}
		}
		if (data.hashtags.length > 3){
			if(data.hashtags[2].hashtag != null && data.hashtags[2].hashtag != data.hashtags[0].hashtag && data.hashtags[2].hashtag != data.hashtags[1].hashtag ){
				$("#inStarHashLink3").html("#"+data.hashtags[2].hashtag)
				$("#inStarHashLink3").css("display","inline")
			}
		}
	});
</script>
<script src="../static/js/mobileviewjs.js"></script>
{%endblock%}
