{%extends "layout.html"%}
{% block cssStyle%}
<style type="text/css">
.userPageStarInfo{height:5em; margin-bottom:0; overflow:visible;}
.userPageIconPos{float:right; height:90%; width:15%;position:relative; padding-top:1.925em;}
</style>
{%endblock%}
{% block body%}

	<div class="well">

	

			<div style="text-align:center"><img style="margin-bottom:1em;" src="../static/img/goldstar.png" height="100" width="100" /></div>
			<h3 style="text-align:center;">
				{{theOtherUser.firstName}} {{theOtherUser.lastName}}<hr /></h3>
			<div style="text-align:center"><button onclick="filterStarList('all')" class="hashTagButton" style="text-align:center; font-size:1.8em"><script>
				var totalStars = {{theOtherUser.starsReceived}} + {{theOtherUser.starsGiven}}
				document.write(totalStars);
			</script> Stars Total
			</h4></div><br />
			<div style="text-align:center"><button onclick="filterStarList('given')" class="hashTagButton" style="text-align:center; font-size:1.5em">
				{{theOtherUser.starsGiven}} Stars Given<br /></button></div><br />
			<div style="text-align:center"><button onclick="filterStarList('received')" class="hashTagButton" style="text-align:center; font-size:1.5em">{{theOtherUser.starsReceived}} Stars Received
			</h4></div><hr />
			<div style="clear:both"></div>
			{% if ownPage and theOtherUser.twitterUser %}
			<div id = "TwitterShow" style="text-align:center;">
				<button type="submit" class="btn btn-warning" onclick="redirectTwitter();">Connect to Twitter</button>
			</div>
			{%endif%}
			{%if ownPage%}
				<div style="text-align:center;"><b>Share!</b></div>
				<div style="clear:both"></div>
				<div style="text-align:center;">
					<span class='st_googleplus_large' displayText='Google +'></span>
					<span class='st_facebook_large' displayText='Facebook'></span>
					<span class='st_twitter_large' displayText='Tweet'></span>
					<span class='st_tumblr_large' displayText='Tumblr'></span>
				</div>
				<div style="clear:both"></div>
				<div style="text-align:center;">
					<span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
					<span class='st_reddit_large' displayText='Reddit'></span>
					<span class='st_pinterest_large' displayText='Pinterest'></span>
					<span class='st_email_large' displayText='Email'></span>
				</div>
			{%endif%}
			<br />
			<br />
			
		<div class="hero-unit" id="userPageMessageContainer">
			<div class="well"><i>
				<div id="userPageListMessage">
					Empty
				</div>
			</i>
			</div>
		</div>
		
		<div id="userStarList">

		</div>

		<br />
		<table class="table table-bordered" style="width:100%;text-align:center;">

		{% if not page.hideStarButton %}
			{% if ownPage %}
				
					<tr>
						<td style="text-align:center;" colspan=2><a href="../mobileview.html">Go back to my feed</a></td></br>
					</tr>

					<tr>
						<td style="text-align:center;" colspan=2><a href="../settings">Settings</a></td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan=2><a href="../feedback">Feedback / Help</a></td>
					</tr>

					{% if not theOtherUser.twitterUser %}
						<tr>
							<td style="text-align:center;" colspan=2><a href="https://twitter.com/settings/applications">Deauthorize Twitter</a></td>
						</tr>
					{%endif%}
					<tr>
						<td style="text-align:center;" colspan=2><a onclick ="logoutFunction()" href="../logout">Log Out</a></td>
					</tr>

				
			{%endif%}
		{%endif%}
		</table>

			<div style="text-align:center;display:none;" id="newAccountUser">
				</br>
				<div style="width:100%; text-align:center;" ><a href="/signup">Don't have an account?</a></div>
			</div>	
	</div>

{% endblock%}

{% block scripts%}
<script type="text/javascript">
	$(function(){
		var createAccountBtn = document.getElementById("newAccountUser");
		if (sessionStorage.userID== "" || sessionStorage.length == 0){
			createAccountBtn.style.display="block";
		}
		else
		{
			createAccountBtn.style.display="none";
		}
	});
</script>
<script  type="text/javascript">

function logoutFunction()
{
	console.log(sessionStorage.userID)
		console.log(sessionStorage.length)
	sessionStorage.clear();
	console.log(sessionStorage.userID)
		console.log(sessionStorage.length)
	window.location="../logout"
}
</script>
<script>
	$(document).ready(function(){
		if (canUseStorage()){

			sessionStorage.userID = {{user.ID}}
			//sessionStorage.twitterUser = {{user.twitterUser}}
			$.getJSON('/api/user', function(jdata)
			{	
				var users = []
				for(var i in jdata.objects){
					var currentUser = jdata.objects[i];
					userList[currentUser.id] = currentUser;				
					users.push(currentUser.firstName + " " + currentUser.lastName);				
				}

				sessionStorage.thisUserID = {{theOtherUser.ID}};
				loadStarsUserPage({{theOtherUser.ID}}, "userStarList", "userPageListMessage", "userPageMessageContainer", "all");
				
			})
			.success(function(){
				loadStarsUserPage({{theOtherUser.ID}}, "userStarList", "userPageListMessage", "userPageMessageContainer", "all");

			})
			.error(function(){
				//alert("Could not load this users stars =(");
			});
			$("TwitterShow").css("display", "block");
		}
	});
	function filterStarList(filter){
		loadStarsUserPage({{theOtherUser.ID}}, "userStarList", "userPageListMessage", "userPageMessageContainer", filter);
	}
</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-f7d15b3b-e19e-f5dd-520b-bca92d9f2bc8"}); </script>
<script>
	var suggestedHashurl = "/hashtagSuggestions";
	var suggestedHashList = [];
	$.getJSON(suggestedHashurl, function(data)
	{
		if(data.hashtags[0].hashtag != null){

			$("#inStarHashLink1").html("#"+data.hashtags[0].hashtag)
			$("#inStarHashLink1").css("display","inline")
		}
		if (data.hashtags.length > 2){
			if(data.hashtags[1].hashtag != null && data.hashtags[0].hashtag != data.hashtags[1].hashtag){
				$("#inStarHashLink2").html("#"+data.hashtags[1].hashtag)
				$("#inStarHashLink2").css("display","inline")
			}
		}
		if (data.hashtags.length > 3){
			if(data.hashtags[2].hashtag != null && data.hashtags[2].hashtag != data.hashtags[0].hashtag && data.hashtags[2].hashtag != data.hashtags[1].hashtag ){
				$("#inStarHashLink3").html("#"+data.hashtags[2].hashtag)
				$("#inStarHashLink3").css("display","inline")
			}
		}
	});
</script>
{%endblock%}