{%extends "layout.html"%}
{% block cssStyle%}
<style type="text/css">
.userPageStarInfo{height:5em; margin-bottom:0; overflow:visible;}
.userPageIconPos{float:right; height:90%; width:15%;position:relative; padding-top:1.925em;}
</style>
{%endblock%}
{% block body%}
	<div style="width:100%">
		<div style="text-align:center; width:100%;"><img style="margin-bottom:1em;" src="../static/img/goldstar.png" height="100" width="100" /></div>
		<h3 style="text-align:center;">
			<span style="color:yellow; text-shadow: black 0.1em 0.1em 0.2em">{{theOtherUser.firstName}} {{theOtherUser.lastName}}</span>
		</h3>
		<div style="clear:both"></div>
		<br />
		<div style="width:100%; text-align:center;">
			<h4>{{theOtherUser.starsGiven}} Stars Given <br /> {{theOtherUser.starsReceived}} Stars Received</h4><br />
			
		</div>		
		<br />

		<div class="hero-unit" id="emptyListUserMessageContainer">
			<div class="well"><i>
				<div id="emptyListUserMessage">
				</div>
			</i>
			</div>
		</div>
		
		<div id="userStarList">

		</div>

		<br />
		{% if not page.hideStarButton %}
			{% if ownPage %}
				<table class="table table-bordered" style="width:100%">
					<tr>
						<td style="text-align:center;" colspan=2><a href="../mobileview.html">Go back to feed</a></td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan=2><a href="../settings">Settings</a></td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan=2><a href="../feedback">Feedback / Help</a></td>
					</tr>
			
					<tr>
						<td style="text-align:center;" colspan=2><a href="../logout">Log Out</a></td>
					</tr>
			</table>	
			{%endif%}
		{%endif%}	
	</div>

{% endblock%}
{% block scripts %}
{%endblock%}