{%extends "layout.html"%}
{% block cssStyle%}
<style type="text/css">
.userPageStarInfo{height:5em; margin-bottom:0; overflow:visible;}
.userPageIconPos{float:right; height:90%; width:15%;position:relative; padding-top:1.925em;}
</style>
{%endblock%}
{% block body%}

	<div class="well">

	

			<div style="text-align:center"><img style="margin-bottom:1em;" src="../static/img/goldstar.png" height="100" width="100" /></div>
			<h3 style="text-align:center;">
				{{theOtherUser.firstName}} {{theOtherUser.lastName}}<hr /></h3>
			<h4 style="text-align:center;">
				{{theOtherUser.starsGiven}} Stars Given<br /></h4>
			<h4 style="text-align:center;">{{theOtherUser.starsReceived}} Stars Received
			</h4><hr />
			<div style="clear:both"></div>
			{% if ownPage and theOtherUser.twitterUser %}
			<div id = "TwitterShow" style="text-align:center;">
				<button type="submit" class="btn btn-warning" onclick="redirectTwitter();">Connect to Twitter</button>
			</div>
			{%endif%}
			<br />
			<br />
			
		<div class="hero-unit" id="userPageMessageContainer">
			<div class="well"><i>
				<div id="userPageListMessage">
					Empty
				</div>
			</i>
			</div>
		</div>
		
		<div id="userStarList">

		</div>

		<br />
		<table class="table table-bordered" style="width:100%;text-align:center;">

		{% if not page.hideStarButton %}
			{% if ownPage %}
				
					<tr>
						<td style="text-align:center;" colspan=2><a href="../mobileview.html">Go back to my feed</a></td></br>
					</tr>

					{% if not page.hideStarButton %}
						{% if ownPage %}
							<tr>
								<td style="text-align:center;" colspan=2><a OnClick="javascript:logoutFunction();">Log Out</a></td>
							</tr>
						{%endif%}
					{%endif%}
					<tr>
						<td style="text-align:center;" colspan=2><a href="../settings">Settings</a></td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan=2><a href="../feedback">Feedback / Help</a></td>
					</tr>
			
				
			{%endif%}
		{%endif%}
		</table>

			<div style="text-align:center;display:none;" id="newAccountUser">
				</br>
				<div style="width:100%; text-align:center;" ><a href="/signup">Don't have an account?</a></div>
			</div>	
	</div>

{% endblock%}

{% block scripts%}
<script type="text/javascript">
	$(function(){
		var createAccountBtn = document.getElementById("newAccountUser");
		if (sessionStorage.userID== "" || sessionStorage.length == 0){
			createAccountBtn.style.display="block";
		}
		else
		{
			createAccountBtn.style.display="none";
		}
	});
</script>
<script  type="text/javascript">

function logoutFunction()
{
	sessionStorage.clear();
	window.location="../logout"
}
</script>
<script>
	$(document).ready(function(){
		if (canUseStorage()){
			sessionStorage.userID = {{user.ID}}
			//sessionStorage.twitterUser = {{user.twitterUser}}
			$.getJSON('/api/user', function(jdata)
			{	
				var users = []
				for(var i in jdata.objects){
					var currentUser = jdata.objects[i];
					userList[currentUser.id] = currentUser;				
					users.push(currentUser.firstName + " " + currentUser.lastName);				
				}

				loadOtherUserStars({{theOtherUser.ID}}, "userStarList", "userPageListMessage", "userPageMessageContainer");
				
			});
			$("TwitterShow").css("display", "block");

		}
	});
		
</script>
{%endblock%}